{% load  staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Eshan Tewari">
  <!-- Viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--[if IE]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <![endif]-->
  <title>{%block title%}{%endblock%}</title>




  <!-- CORE JQUERY  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <!-- BOOTSTRAP CORE SCRIPT   -->
  <script src="/static/plugins/bootstrap.js"></script>
  <!-- VEGAS SLIDESHOW SCRIPTS -->
  <script src="/static/plugins/vegas/jquery.vegas.min.js"></script>
  <!-- CUSTOM SCRIPTS -->
  <script src="/static/js/custom.js"></script>
  <script src="/static/js/image_slider.js"></script>
  <script src="/static/js/search.js"></script>
  <script type="text/javascript" src="/static/js/jssor.slider.mini.js"></script>
  <!-- Modrnizr Lib -->
	<script src="/static/js/modernizr.js" type="text/javascript"></script>



  <!--REQUIRED STYLE SHEETS-->
  <!-- jquery CORE STYLE CSS -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <!-- BOOTSTRAP CORE STYLE CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <!-- FONTAWESOME STYLE CSS -->
  <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
  <!-- CUSTOM STYLE CSS -->
  <link href="/static/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/sass-compiled.css" />
  <!-- GOOGLE FONT -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  {%block specifics%}{%endblock%}
</head>
<body>


  {%block header%}{%endblock%}

  <!-- Non-Mobile Navigation -->
  <nav class="navbar-inverse" role="navigation">
     <div id='cssmenu'>
           <ul>

               <!--<li class="logo"><img src="http://mrdannynavarro.com/sites/default/files/misc/GRIFFIN_EX-sm.png" height="40" width="40"></li>-->
               <li><a href="#"><span>Home</span></a></li>
               <li><a href="#"><span>Theoretical</span></a></li>
               {%block searchbar%}{%endblock%}

           </ul>
     </div>
     <!-- /.container -->
  </nav>

  <!--About Section-->
  <section class="for-full-back color-white " id="about"  >
    <div class="container" >


      <div class="row text-center g-pad-bottom" >
        <div class="col-md-12">
            {%block content%}{%endblock%}
        </div>
      </div>
    </div>
  </section>
  <!--End About Section-->

  <!--footer Section -->
  <div  class="for-full-back "  id="footer" >


    2014 www.yourdomain.com | All Right Reserved

  </div>
  <!--End footer Section -->


</body>
</html>
