{% load  staticfiles %}
<html>
<head>
  <title>{%block title%}{%endblock%}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <script src="/static/js/inline_edit.js"></script>
  <script src="/static/js/search.js"></script>
  <link href="/static/css/styles.css" rel="stylesheet" />

  <style>
    .ui-autocomplete {
      max-height: 100px;
      overflow-y: auto;
      /* prevent horizontal scrollbar */
      overflow-x: hidden;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
      height: 100px;
    }
</style>

</head>
<body>
{%block content%}{%endblock%}
</body>
</html>
