{% extends "main/base.html" %}
{% block title %}Home{%endblock%}
{% block content %}

<form action = "{%url 'main:user_profile'%}" method = 'POST'>
  {% csrf_token %}
  {{ user_form.as_p }}
</form>
<br />
<form action = "{%url 'main:user_profile'%}" method = 'POST'>
  {% csrf_token %}
  {{ address_form.as_p }}
</form>

<br />
Reputation: {{reputation}}

<br />
Exchange notifications:

<ul>
{%for notification_list in notifications%}
<li>Your {{notification_list[0].from_user_item.name}} for {{notification_list[0].to_user.username}}'s  {{notification_list[0].to_user_item.name}}</li>
<ul>
  {%for i in range(1, len(notification_list))%}
  <li>Your {{notification_list[i].from_user_item.name}} for {{notification_list[i].to_user.username}}'s  {{notification_list[i].to_user_item.name}}</li>
  {%endfor%}
</ul>
{%endfor%}
</ul>




{%endblock%}
